*{ 
    font-family: 'Roboto',
    sans-serif;
    font-size: 18px;
}
/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    max-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* стили для CV*/
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}
.wrapper{
    width: 50%;
}
@media (max-width: 1080px) {
    .wrapper {
        width: 80%;
    }
}
@media (max-width: 400px) {
    .wrapper {
        width: 95%;
    }
}
.list-contacts > li {
    font-size: 15px;
    font-family: monospace;
}
.cv-photo{
    max-width: 30%;
    min-width: 135px;
    margin-right: 20px;
}
@media (max-width: 400px) {
    .cv-photo{
        display: block;
        max-width: 100%;
        height:fit-content;
    }
}
.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.header-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
.wrapper-about >section:nth-child(even) {
   margin-top: 15px;
   margin-bottom: 15px;
}
.wrapper-about{
    width: 75%;
}
@media (max-width: 1000px) {
    .wrapper-about {
        width: 100%;
    }
}
.social-media{
    display: flex;
    flex-direction: row;
}
.social-media__img{
      width: 40px;
     
}
.social-media__link:nth-child(even){
    margin-left: 20px;
    margin-right: 20px;
 
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 15%;
    min-width: 140px;
}
.footer__link {
    height: inherit;
}
.footer__img{
    height: auto;
}
.highlight-word{
    color: #fff;
    font-family: monospace;
    font-size: 15px;
    background-color: black;
}
.cv-name{
    font-size: 20px;
}